@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ping {
    0% {
      transform: scale(0.5);
      opacity: 1;
    }
    100% {
      transform: scale(5);
      opacity: 0;
    }
  }
  

  @media print {
    @page {
      margin: 0;
    }
  
  body {
    margin: 0;
    padding: 0;
  }
}
  .ping {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: rgba(14, 76, 233, 0.5);
    animation: ping 1s infinite;
  }



  .reactour__popover {
    background-color: #f0f0f0; /* Light gray background for tooltip */
    border: 2px solid #007bff; /* Blue border to highlight active element */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .reactour__close-button {
    color: #007bff; /* Blue color for close button */
  }
  
  .reactour__helper {
    border-radius: 10px;
  }
  
  .reactour__controls button {
    background-color: #007bff; /* Blue background for primary buttons */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  



  /* hide scrollbar */

  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}


/* //custom scrollbar */
/* Custom scrollbar styles for WebKit browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* Light gray */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a0aec0; /* Darker gray */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f7fafc; /* Light background */
  border-radius: 8px;
}


.no-scroll {
  overflow: hidden !important;
  position: fixed;
  width: 100%;
  height: 100%;
}